.main a {
    font-weight: normal;
    color: blue;
}

.main {
  /*background-color: white;*/
}

.page-header {
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
}
  
.list {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .list-mobile-alterarion li:nth-of-type(odd) {
        background-color: #e9ebf1;
  }
  .list-mobile-alterarion li {
    padding: 3px;
  }
  .main-shrink {
    margin-left: 9px;
    margin-right: 9px;
  }
  .page-header {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .list a {
    font-size: 20px;
  }

}