.footer {
  display: flex;
  flex-grow: 1;
  margin-top: auto;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 10px;
  padding-top: 10px;
}

.contacts {
  border-top: 1px black solid;
  display: flex;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_part {
  display: inline-block;
}

@media (max-width: 750px) {
  .contact_part {
    font-size: 14px;
  }
}
