.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
    padding: 10px;
    max-width: 900px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 5px;
}

.header h1 {
    font-size: 14px;
    font-weight: 600;
}


.primary_synonym {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.primary_synonym_text {
    font-weight: 600;
    color: #0369a1;
}

