.info-block {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    color: gray;
  }
  
  .info-label,
  .info-field {
    font-family: 'Montserrat';
    font-size: 10px;
  }
  
  .info-label {
    display: inline-block;
    min-width: 190px;
    display: block;
    text-align: right;
    font-size: 10px;
  }
  
  .info-field {
    min-width: 250px;
    text-align: left;
  }
  
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .info-label {
    text-align: left;
  }
 
}