.nav ul {
    display: flex;
    padding: 10px;
    text-align: left;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.nav li {
    display: flex;
    position: relative;
    align-items: center;
}

.nav li:not(:last-child)::after {
    position: relative;
    margin-left: 10px;
    content: ">"; /* Ваш разделитель */
}

.nav h1 {
    font-size: 18px;
    font-weight: normal;
}

.nav a {
    display: flex;
    width: fit-content;
    text-decoration: underline;
    transition: transform 0.3s ease, color 0.3s ease;    
}

.icon_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 25px;
    fill: darkblue;
    display: flex;
}

.nav a:hover {
    /*transform: scale(1.1);*/
    color: blue;

}
