.input-block {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .input-label,
  .input-edit {
    font-family: 'Montserrat';
    font-size: 16px;
  }
  
  .input-label {
    display: inline-block;
    min-width: 190px;
    display: block;
    text-align: right;
  }
  
  .input-edit {
    min-width: 250px;
  }
  
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .input-label {
    text-align: left;
  }
 
}