.input-block {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .input-label,
  .input-edit {
    font-family: 'Montserrat';
    font-size: 16px;
  }
  
  .input-edit-readonly {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
  }


  .input-label {
    display: block;
    text-align: right;
  }
  
  .input-edit {
    box-sizing: border-box;
    flex: 1;
    max-width: min(1400px, calc(100vw - 60px));
    width: calc(100% - 100px);
  }
  
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .input-label {
    text-align: left;
  }

  .input-edit {
    max-width: calc(100vw - 25px);
    width: calc(100% - 20px);
  }

  .input-block {
    flex-direction: column;
    gap: 0;
  }
 
}