.authorship {
    display: grid;
    font-family: 'Montserrat';
    font-size: 10px;    
    grid-template-columns: max-content 1fr;
}


.idea_top, .idea_bottom {
    width: 50%;
}


.idea_bottom {
    margin-left: auto;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 780px) {
    .authorship {
        grid-template-columns: 1fr;
    }
    .idea_top, .idea_bottom {
        width: calc(100% - 20px);
    }
    
}