/*.input-block {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }*/
  
  .label,
  .field {
    font-family: 'Montserrat';
    font-size: 16px;
  }
  
  .label {
    display: block;
    text-align: right;
  }
  
  .field {
    box-sizing: border-box;
    text-align: left;
    flex: 1;
    max-width: min(1400px, calc(100vw - 60px));
    width: 100% ;
    cursor: pointer;
  }
  
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .label {
    text-align: left;
  }

  .field {
    max-width: calc(100vw - 25px);
    width: calc(100% - 20px);
  }


}