.button {
    min-width: 200px;
    max-width: 250px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    flex: 1 1 auto; /* Гибкость кнопок для адаптивности */    
  }
  
 .button:disabled {
    background-color:lightgray;
    color: white;
 }

         /* Анимация при нажатии */
.button:active {
     transform: scale(0.95);
}

