.error {
    color: red;
    text-align: left;
  }
  
.error_block {
  display: flex;
  margin: 20px;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
  
.title_error {
  color: red;
}