.main {
  display: flex;
  gap: 10px;
  margin: 10px auto;
  padding: 0 15px 10px;
  flex-wrap: wrap;
  justify-content: center;
}

/********************************************
* список нюансов
********************************************/
.card_list {
  display: flex;
  gap: 30px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.list_element {
  min-height: 300px;
  min-width: 300px;
  max-width: 430px;
  /*border: 1px red solid;*/
}


/********************************************
* раздел "Почему не вики"
********************************************/
.wikino {
  display: flex;
  flex-grow: 0;
  margin: 40px auto;
  padding: 15px;
}

.wikino_img {
  margin: 40px;
  width: 200px;
  height: 200px;
  align-self: center;
}

.wikino_article {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 300px;
  font-family: "Montserrat";
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;

}

.wikino_header {
  position: relative;
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  font-size: 40px;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .list_element {
    min-height: 300px;
  }
  .wikino {
    margin: 10px auto;
    flex-wrap: wrap;
    gap: 15px;
  }
  .wikino_img {
    margin: 10px auto;
  }
  .wikino_article {
    gap: 10px;
    font-size: 15px;
  }
}
