#menu-toggle {
    display: none;
}

.icon-container {
    display: none;
    height: 100%;
    width: 140px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

/* рисуем сам бургер - 3 линии */
.icon {
    display: flex;
    background-color: #fff;
    position: relative;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.icon::before,
.icon::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: var(--logo-width);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.icon::before {
    content: "";
    margin-top: -8px;
}

.icon::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.icon-container .icon::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.icon-container .icon {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.icon-container .icon::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu {
    display: flex;
    overflow: hidden;
    gap: 0;
    flex-wrap: nowrap;
    line-height: normal;
    justify-content: space-between;
    width: 100%;
    padding: 0 31px;
    font-size: 16px;
}

.item {
    position: relative;
    margin: 5px 12px;
    display: flex;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}

.menu a {
    color: white;
}

.item:hover {
    cursor: pointer;
    color: #a8d0ff;
  
}

.item:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
    background-color: #a8d0ff;

}

.item:hover:after {
    width: 100%;
}

.item-active {
    position: relative;
    padding: 5px 12px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    backdrop-filter: blur(2px);
  }



.item-active:hover {
    cursor:default;
}


/**
 * адаптивность
*/
@media (max-width: 750px) {

    .icon-container {
        display: flex;
        width: var(--logo-width);
        height: var(--menu-height);
        align-items: flex-end;
    }

    .menu {
        background: var(--menu-background);
        max-inline-size: 100%;
        position: absolute;
        top: 0;
        margin-top: var(--menu-height);
        left: 0;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0;
        z-index: 1000;
    }

    .item {
        background: var(--menu-background);    
        text-transform: uppercase;
    }

    .item-active {
        text-transform: uppercase;
        background:none;
        color: yellow;
      }
    

    .menu>li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        /*background-color: var(--background-color);*/
    }

    #menu-toggle~.menu li {
       /* display: none;*/
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        /*border: 1px solid white;*/
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        /*display: flex;*/
        border: 1px solid white;
        height: 3.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

 }