.block {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    color: gray;
  }
  
 .label,
 .field {
    font-family: 'Montserrat';
    font-size: 10px;
  }
  
  .label {
    /*display: block;*/
    text-align: right;
    font-size: 10px;
  }
  
  .field {
    text-align: left;
  }
  
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .label {
    text-align: left;
  }
  .block {
    flex-direction: row;
  }  
 
}