.block {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    color: gray;
  }
  
 .label,
 .field {
    font-family: 'Montserrat';
    font-size: 10px;
  }
  
  .label {
    /*display: block;*/
    text-align: right;
    font-size: 10px;
  }
  
  .field {
    text-align: left;
  }
 

.mobile {
  display: none;
}  

.info {
  color: gray;
}

.error {
  color: red;
}

.success {
  color: green;
}

.processing {
  color: olive;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 640px) {

  .tabletAndDesktop {
    display: none;
  }

  .label {
    text-align: left;
  }
  .block {
    flex-direction: row;
  }  
  .mobile {
    display: flex;
    gap: 5px;
  }  
  
 
}