.container {
}



.left_section {
    width: calc(50% - 25px);
    /*border: 1px red solid;*/
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
}

.left_section_table {
    width: 100%;
    text-align: left;
    /*border: 1px red solid;*/
}


.right_section {
    width: calc(50% - 25px);
    text-align: right;
    margin-right: 10px;
    margin-left: auto;
    /*border: 1px red solid;*/
}

.right_section_table {
    width: 100%;
    text-align: right;
    margin-right: 10px;
    margin-left: auto;
    /*border: 1px red solid;*/
}

.button_add {
    margin-top: 10px;
}

.icon {
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: darkgreen;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 1000px) {
    .left_section {
        width: calc(80% - 25px);
    }
    .right_section {
        width: calc(80% - 25px);
    }
    .icon {
        width: 70px;
        margin-top: 17px;
        margin-bottom: 17px;
    }
}

@media (max-width: 650px) {
    .left_section {
        width: calc(100% - 25px);
    }
    .right_section {
        width: calc(100% - 25px);
    }
}