.container {  
    width: 100%;
    border: 1px black solid;
}

.container h3 {  
    text-align: left;
    padding-left: 20px;
    font-weight: normal;
}

.idea {  
    border-radius: 7px;
    width: 100%;
    display: grid;
    grid-template-columns: max-content min-content 1fr;
    column-gap: 5px;
    padding: 5px;
    grid-template-areas:
    "name_id id button"
    "name_label name name"
    "source_label source source";
}

.idea label {  
    text-align: right;
    padding-left: 3px;
}

.ID_input {  
    width: 100px;
    grid-area: id;
    align-self: center;
    height: 22px;
}

.source {
    font-style: italic;
    grid-area: source;
    font-size: 14px;
    width: 100%;
    align-self: center;
}

.name_label {
    grid-area: name_label;
}

.source_label {
    grid-area: source_label;
    align-self: flex-start;
}

.name {
    grid-area: name;
    align-self: center;
}


.button_block {  
    align-self: center;
    justify-self: flex-start;
    grid-area: button;
    display: flex;
    gap: 10px;
}

.button_block button {  
    height: 24px;
    padding: 0 15px;
}