.form {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 15px;
    position: relative;
    flex-flow: wrap;
}

/*.form > * {
    border: 1px red solid;
}*/

.main {
    margin: 20px;
}

.input {
    max-width: calc(100% - 140px);   
}

.buttons {
    width: 500px;
}

.input_block {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    /*border: 1px green solid;*/
}

.input_block label {
    min-width: 120px;
    flex-grow: 0;
    text-align: right;
}

.input_block input, .input_block select {
    flex-grow: 1;
}


.original, .content {
    position:relative;
    width: 45vw;
}

.original textarea, .content textarea {
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat';
    height: 40vh;
}

.original textarea {
    font-style: italic;
}

.original::before {
    position: absolute;
    width: 160px;
    height: 20px;
    left: 10px;
    top: -9px;
    content: 'Вдохновивший текст';
    z-index: 10;
    font-size: 14px;
    text-align: left;
    background-color: white;
    padding-left: 10px;
}

.inputs {
    height: 10vh;
    width: 45vw;
    min-height: 75px;
}

.content::before {
    position: absolute;
    width: 80px;
    height: 20px;
    left: 10px;
    top: -9px;
    content: 'Суть идеи';
    z-index: 10;
    font-size: 14px;
    text-align: left;
    background-color: white;
    padding-left: 10px;
}

.buttons {
    height: 10vh;
    width: 45vw;
    display: flex;
    gap: 20px;
    padding-left: 40px;
    align-items: center;
    min-height: 75px;
}


.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
    .main {
        margin-left: 5px;
        margin-right: 5px;
    }
    .form {
        flex-direction: column;
        margin-top: 10px;
        gap: 35px;
    }

    .input_block {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .input_block label {
        text-align: left;
    }

    .inputs {
        width: calc(100vw - 10px);
        height: 100%;
    }

    .input {
        min-width: 90vw;
    }

    .buttons {
        flex-direction: column;
        margin:  auto;
        padding-left: 0;
        order: 10;
    }

    .original, .content {
        width: calc(100vw - 10px);
    }

    .original textarea{
        font-size: 12px;
    }
    
    .keywords_block {
        border: 1px black solid;
        padding: 5px;
        min-width: calc(100vw - 10px);
    }
}