.main a {
    color: blue;
  }
  
  .list {
    text-align: left;
  }
  
  /*.list tbody tr:hover {
    background-color: #e9f7fe;
  }*/

  table {
    border-spacing: 0;
  }
  
  .list tr:nth-of-type(even) {
    background-color: #e9ebf1;
  }
  
  .list thead {
    background: var(--header-table-background);
    color: white;
    font-weight: normal;
    font-size: 14px;
  }
  
  .list th {
    padding: 10px;
  }
  
  .list td {
    padding: 5px;
  }

  .name_cell {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    
  }

  .idea_icon {
    width: 27px;
    fill: darkblue;
    display: flex;
  }

  .date_time {
    min-width: 100px;
  }
  
  /********************************************
  * адаптивность
  ********************************************/
  @media (max-width: 750px) {
    .list thead {
      display: none;
    }
  
    .list tbody tr {
      /* выводим строки как блоки */
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
    }
  
    .list tbody tr td {
      text-align: left;
      /*border: 1px red solid;*/
    }
  
    .list > tbody > tr > td:first-of-type::before,
    .list > tbody > tr > td:nth-of-type(2)::before,
    .list > tbody > tr > td:nth-of-type(3)::before,
    .list > tbody > tr > td:nth-of-type(4)::before {
      display: block;
      min-width: 100px;
      max-width: 100px;
      padding-right: 5px;
      word-wrap: break-word;
    }
  
    .list > tbody > tr > td:first-of-type::before {
      content: "Название идеи: ";
    }
  
    .list > tbody > tr > td:nth-of-type(2)::before {
      content: "Источник: ";
    }
  
    .list > tbody > tr > td:nth-of-type(3)::before {
      content: "Пользо-ватель: ";
    }
  
    .list > tbody > tr > td:nth-of-type(4)::before {
      content: "Добавлено: ";
    }
  
    .list tr:nth-of-type(odd) {
      background-color: #e9ebf1;
    }
  
    .list tr:nth-of-type(even) {
      background-color: transparent;
    }
  
    .list > tbody > tr > td:first-of-type,
    .list > tbody > tr > td:nth-of-type(2),
    .list > tbody > tr > td:nth-of-type(3),
    .list > tbody > tr > td:nth-of-type(4) {
      display: flex;
      justify-content: flex-start;
    }
  
    .list td {
      line-height: 1;
    }
  
    .main {
      margin: 10px;
    }
  }
  