.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.main p {
    text-align: justify;
    text-indent: 10px;
}

.main span {
    font-weight: bold;
}

.main li span {
    font-weight: normal;
    font-style: italic;
}


.main li {
    margin-left: 30px;
    list-style:disc ;
    text-align: left;
    text-indent: 0px;
}

.main li li {
    list-style:circle ;
}