.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px ;
}


.main h1 {
    text-align: left;
    font-size: 34px;
}

.main h2 {
    margin-top: 100px;
}

.main section {
    display: flex;
    gap: 20px;
}

.main section ul {
    margin-left:1em;    
}

.main img {
    margin-top: 20px;
    max-height: 40vh;
    max-width: 30vw;
}

.main figure {
    width: fit-content;
    padding: 0;
    margin: 0;
}


.main figcaption {
    font-style: italic;
    font-size: 14px;
}

.main div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listHeader {
    display: inline;
    text-align: justify;
    text-indent: 1.25em;
}

.main p {
    text-align: justify;
    text-indent: 1.25em;
}

.main span {
    font-weight: bold;
}

.main li span {
    font-weight: normal;
    font-style: italic;
    /*text-decoration: underline;*/
}


.main section li {
    margin-left: 1.5em;
    list-style:disc ;
    text-align: left;
    text-indent: 0px;
}

.main section li li {
    list-style:circle ;
}

.main a:hover {
    text-decoration: underline;
}

@media (max-width: 750px) {
    .main img {
        max-height: 90vh;
        max-width: 90vw;
    }
    .main section {
        flex-direction: column;
        align-items: center;
    }
    

}