.header {
  --menu-height: 56px;
  --logo-width: 30px;
}
.header {
  display: flex;
  width: 100%;
  /*background-color: var(--menu-background-color);*/
  background: var(--menu-background);
  align-items: center;
  font-family: "SegoeUI";
  font-size: 15px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  color: #fff;
  font-style: normal;
  line-height: normal;
}

.menu {
  display: flex;
  width: 100%;
  height: var(--menu-height);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.menu_part_left {
  display: flex;
  align-items: center;
}


.link_position_last {
  display: flex;
  justify-content: flex-end;
}

.logo, .auth {
  display: flex;
  align-items: center;

  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo {
  margin: 5px;
  width: var(--logo-width) ;
  /*height: 30px;*/
  flex-grow: 0;
}

.logo:hover, .auth:hover {
  color: #a8d0ff;
  transform: scale(1.1);
}

.auth {
  margin: 5px;
  width: calc(var(--logo-width) - 5px);
  flex-grow: 0;
}

@media (max-width: 750px) {
  .menu_part_left {
    width: calc(50% + var(--logo-width) / 2);
    justify-content: space-between;
  }


}

