.form {
    margin: 30px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.input_block {
    width: 100%;
}


.label, .label_info {
    min-width: 160px;
}

.input {
    min-width: 300px;
    max-width: 500px;
}


/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
    .label_info {
        text-align: left;
        min-width: min-content;
    }
}