.form {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 15px;
    position: relative;
    flex-flow: wrap;
}

/*.form > * {
    border: 1px red solid;
}*/

.main {
    margin: 0 20px 20px;
}

.idea_icon {
    width: 90px;
    max-height: 100px;
    fill: darkblue;
}

.inputs_block {
    display: flex;
}

.input {
    max-width: calc(100% - 150px);   
}

.label {
    min-width: 140px;
    font-family: 'Montserrat';
    font-size: 16px;
    display: inline-block;
    text-align: right;
}

.label_info {
    min-width: 140px;
    font-family: 'Montserrat';
    display: inline-block;
    text-align: right;
    font-size: 10px;    
}

.idea {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5px;
    width: 100%;
}

.buttons {
    width: 500px;
}

.input_block {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    /*border: 1px green solid;*/
}

.input_block input, .input_block select {
    flex-grow: 1;
}


.original, .content  {
    min-width: calc(50% - 9px);
    height: 50vh;
}

.original_text  {
    font-style: italic;
}

.content_SVG {
    min-width: calc(100% - 12px);
    height: 50vh;
}


.inputs {
    /*height: 12vh;*/
    width: 100%;
    display: flex;
    gap: 7px;
    flex-direction: column;
    /*min-height: 95px;*/
}


.buttons {
    height: 10vh;
    width: 45vw;
    display: flex;
    gap: 20px;
    padding-left: 40px;
    align-items: center;
    min-height: 75px;
}



/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
    .main {
        margin-left: 5px;
        margin-right: 5px;
    }
    .form {
        flex-direction: column;
        margin-top: 10px;
        gap: 35px;
    }

    .input_block {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .input_block label {
        text-align: left;
    }

    .inputs {
        width: 100%;
    }

    .input { 
        min-width: 90vw;
    }

    .idea {
            gap: 15px;
            flex-direction: row;
    }

    .buttons {
        flex-direction: column;
        margin:  auto;
        padding-left: 0;
        order: 10;
    }

    .original, .content {
        width: calc(100%);
    }

    .original textarea{
        font-size: 12px;
    }

    .label, .label_info {
        text-align: left;
        min-width: min-content;
    }
    
}