.authorship {
    min-width: 140px;
    font-family: 'Montserrat';
    display: inline-block;
    text-align: right;
    font-size: 10px;    
}


.idea_top, .idea_bottom {
    width: 50%;
}


.idea_bottom {
    margin-left: auto;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 780px) {
    .authorship {
        min-width: auto;
    }
    .idea_top, .idea_bottom {
        width: calc(100% - 20px);
    }
    
}