.authorship {
    min-width: 140px;
    font-family: 'Montserrat';
    display: inline-block;
    text-align: right;
    font-size: 10px;    
}


.idea_top, .idea_bottom {
    width: 50%;
}


.idea_bottom {
    margin-left: auto;
}

