.label {
  display: block;
  text-align: right;
}

.label,
.field,
.field_readonly {
  font-family: "Montserrat";
  font-size: 16px;
}

.field {
  box-sizing: border-box;
  width: 100%;
}

.field_readonly {
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin: 0;
}

.input {
  width: 100%;
}

.error_moderation_text {
  color: darkgray;
  font-size: 12px;

}

/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .label {
    text-align: left;
  }

  .field {
    padding-top: 0;
  }

  .field_readonly {
    padding-top: 0;
    padding-left: 10px;
  }
}
