.label {
  display: block;
  text-align: right;
}

.label,
.field {
  font-family: "Montserrat";
  font-size: 16px;
}

.field {
  width: 100%;
}

.field_readonly {
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.read_only {
  text-align: left;
}

/********************************************
* адаптивность
********************************************/
@media (max-width: 750px) {
  .label {
    text-align: left;
  }

  .field { 
  }

  .field_readonly {
    padding-left: 10px;
  }
}
