.header {
  --menu-height: 56px;
  --background-color: #4e7bf0;
  --logo-width: 30px;
}
.header {
  display: flex;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  line-height: normal;
}

.menu {
  display: flex;
  width: 100%;
  height: var(--menu-height);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  text-transform: uppercase;
  overflow: hidden;
  gap: 53px;
  color: var(--color-menu);
  flex-wrap: nowrap;
  line-height: normal;
  justify-content: space-between;
  width: 100%;
  padding: 0 31px;
}

.menu_part_left {
  display: flex;
  align-items: center;
}

.header__menu_item {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.link_active {
  color: yellow;
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin: 5px;
  width: var(--logo-width);
  height: 30px;
  flex-grow: 0;
}

.auth {
  margin: 5px;
  width: 25px;
  height: 25px;
  flex-grow: 0;
}

#menu_toggle {
  display: none;
}

.header__menu_button_container {
  display: none;
  height: 100%;
  width: 140px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

/* рисуем сам бургер - 3 линии */
.header__menu_button {
  display: flex;
  background-color: #fff;
  position: relative;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.header__menu_button::before,
.header__menu_button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: var(--logo-width);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.header__menu_button::before {
  content: "";
  margin-top: -8px;
}

.header__menu_button::after {
  content: "";
  margin-top: 8px;
}

#menu_toggle:checked
  + .header__menu_button_container
  .header__menu_button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu_toggle:checked + .header__menu_button_container .header__menu_button {
  background: rgba(255, 255, 255, 0);
}

:root:has(#menu_toggle:checked) .home__layout-right-photo,
:root:has(#menu_toggle:checked) .home__main-intro,
:root:has(#menu_toggle:checked) .site__layout-left {
  filter: blur(4px) brightness(0.9);
}

#menu_toggle:checked
  + .header__menu_button_container
  .header__menu_button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 750px) {
  .menu_part_left {
    width: calc(50% + var(--logo-width) / 2);
    justify-content: space-between;
  }

  .header__menu_button_container {
    display: flex;
    width: var(--logo-width);
    height: var(--menu-height);
    align-items: flex-end;
  }

  .header__menu {
    max-inline-size: 100%;
    position: absolute;
    top: 0;
    margin-top: var(--menu-height);
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 0;
    z-index: 1;
  }

  #menu_toggle ~ .header__menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu_toggle:checked ~ .header__menu li {
    border: 1px solid #333;
    height: 3.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .header__menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--background-color);
  }
}
